.DashBoard-container {
  .title {
    // Styles for title
    font-size: 2rem;
    font-weight: bold;
    margin: 10px;
    p {
      display: inline;
      color: rgb(236, 155, 168);
    }
  }

  .content {
    display: flex;
    margin-left: 10px;
    .c-left {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;

      .left {
        text-align: center;
        background-color: transparent; // Màu nền của ô vuông
        border: 2px solid #ccc;
        padding: 80px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // Các thuộc tính CSS khác cho ô vuông
        &:hover {
          background-color: #74988963;
          transition: 0.5s;
        }

        .text-1 {
          font-size: 16px;
          font-weight: bold;
          // Các thuộc tính CSS khác cho text-1
        }

        .text-2 {
          font-size: 44px;
          margin-left: 10px;
          // Các thuộc tính CSS khác cho text-2
        }
      }
    }

    .c-right {
      width: 50%;
    }
  }
}
